@import '../../styles/_variables'

.button {
  border none
  padding 20px 50px
  cursor pointer
  font-size 0.875em
  text-transform uppercase
  color #fff

  &.normal {
    background secondary-color
  }

  &.primary {
    background primary-color
  }
}

@media(max-device-width: 767px) {
  .filter {
    padding 10px 20px
  }
}
