@import '../../styles/_variables'

.filter {
  background #fff
  padding 20px
  margin 10px 0
  font-size 1.5em
  color pale-text-color
  &.disabled {
    opacity: 0.7
  }

  a {
    text-decoration none
    color blue
    &:hover {
      text-decoration underline
    }
  }

  input {
    border none
    border-radius 0
    --webkit-appearance none
    border-bottom 2px solid primary-color
    font-style italic
    font-size 1.2em
    font-weight 300
    margin 0 5px
    width 100px
    text-align center

    &.small {
      width 70px
    }

    &:focus {
      outline none
    }

    &.invalid {
      border-bottom 2px solid red;
    }
  }
}

@media(max-device-width: 767px) {
  .filter {
    padding 10px

    input {
      font-size 1em
    }
  }
}
