@import '../../styles/_variables'

.container {
  background primary-color
  padding 20px 30px

  .content {
    max-width content-width
    margin 0 auto
  }

  h1 {
    color #fff
    font-size 2em
    margin 0
    font-weight 300
  }
}
