@import '../../styles/_variables'

.app-container {
  width 100%
}

.app-content {
  margin 20px auto
  max-width: content-width
}

.search {
  margin 20px
  text-align center
}

.results {
  background #fff
  padding 20px
}
