@import '../../styles/_variables'

.app-container {
  width 100%
}

.app-wrapper {
  margin 20px auto
  max-width: content-width
}

.app-content {
  margin 0 20px
}

.search {
  margin 20px
  text-align center
}

.copyright {
  margin-top 100px
  text-align center
  color pale-text-color
}
